# Karl Paju IS22   Ülesanne 1: Akna loomine ja kujundid
import pygame # impordib pygame

pygame.init() # käivitab pygame

# ekraani seaded

screen=pygame.display.set_mode([300,300]) # loob ekraani määratud koordinaatidel.

pygame.display.set_caption("Lumemees, Karl Paju")
#Lumememme joonistamine
pygame.draw.circle(screen, [255,255,255], [150,50],30,0) # Loob täis värvitud ringi antud parameetritel
pygame.draw.circle(screen, [255,255,255], [150,120],40,0) # Loob täis värvitud ringi antud parameetritel
pygame.draw.circle(screen, [255,255,255], [150,210],50,0) # Loob täis värvitud ringi antud parameetritel
pygame.draw.circle(screen, [0,0,0], [135,40],5,0) # loob vasakpoolse musta silma
pygame.draw.circle(screen, [0,0,0], [165,40],5,0) # loob parempoolse musta silma

pygame.draw.polygon(screen, [255,153,0], [[145,40], [153,39], [150,60]])





pygame.display.flip()


running = True

# Loop
while running:

    # Check for event if user has pushed
    # any event in queue
    for event in pygame.event.get():

        # if event is of type quit then set
        # running bool to false
        if event.type == pygame.QUIT:
            running = False

